body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    max-width: 1600px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-header-wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-btn {
    margin-left: 8px;
}
.project-btn:first-child {
    margin-left: 0;
}




.search-input {
    border: solid;
    border-radius: 30px;
    border-color: #DDDDDD;
}

.main-search-form {
    position: relative;

}

.search-input {
    padding-left: 8px;
    min-width: 480px;
    height: 42px;
}
.search-input::placeholder {
    font-weight: 600;
    font-size: 14px;
    opacity: 0.5;
    padding-left: 16px;

}
/*.copy {*/

/*    background: center/70% no-repeat url("./icons/copy.svg");*/
/*}*/

.clear-btn {
    position: absolute;
    right: 32px;
    top: 9px;


    opacity: 0.3;
    cursor:pointer;
}
.search-clear-btn {
/*    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #DDDDDD;
    background: #fff;
    position: absolute;
    top: 25%;
    right: 16px;*/
    width: 30px;
    height: 30px;
    background: #fff;
    border: none;
}

.clear-btn:hover {
    opacity: 1;
}
.clear-btn:before, .clear-btn:after {
    position: absolute;
    left: 15px;
    top: 5px;
    content: ' ';
    background-color: #333;
}
.search-clear-btn:before, .search-clear-btn:after {

    height: 24px;
    width: 2px;
}
.search-clear-btn:before {
    transform: rotate(45deg);
}
.search-clear-btn:after {
    transform: rotate(-45deg);
}

.tag-wrapper {
    background: #ccc;
    border-radius: 40px;
    padding: 0 16px 0 16px;
    height: 36px;
    box-sizing: border-box;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-right: 8px;
    margin-bottom: 8px;
}

.tag {



}





.tag-children {
    margin-top: 32px;
    align-items: baseline;
}
.children {
    margin-bottom: 8px;
    display: flex;
    align-items: baseline;
}
.children:last-child {
    margin-bottom: 0;
}
.tag-parent-name {
    margin-right: 8px;
}

.tag-name {


}

.tag-delete {
    display: block;
    margin-left: 16px;
    background: transparent;
    border: 0;
    outline: none;
    width: 20px;
    height: 20px;
    padding: 0;
    position: relative;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;

}
.tag-delete:hover {
    background: #fff;
    opacity: 1;
}
.tag-delete:before, .tag-delete:after {
    content: "";
    display: block;
    width: 13px;
    height: 2px;
    background: #d0d0d0;
    transform-origin: center;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 2px;

}

.tag-delete:before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.tag-delete:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.tag-delete:hover:before,.tag-delete:hover:after {
    opacity: 1;
    background-color: #ef9191;
}

.project-btn {
    width: 42px;
    height: 42px;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    background-color: #fff;
}

.project-items {
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.project-items-count {
    margin-left: 8px;
    display: block;
}

.project-items-identification {
    margin-left: 8px
}

.project-items-images {
    display: flex;
    background-color: #DDDDDD;
    width: 300px;
    height: 400px;
    border-radius: 30px;
}
